---
layout: default
---

<section id="sobre">

<h1>Sobre</h1>

<p class="lead">
O <span class="logo">3FPPGS</span><strong> &mdash; 3º Fórum do Programa de
  Pós-Graduação em Sociologia</strong> ocorrerá nos dias 18, 19 e 20 de outubro
de 2016, nas dependências do <abbr title="Instituto de Filosofia e Ciências
Humanas">IFCH</abbr>/<abbr title="Universidade Estadual de
Campinas">Unicamp</abbr>.
</p>

<!-- <p> O <em><strong>3FPPGS</strong> &#38;mdash; 3º Fórum do Programa de Pós&#45;Graduação -->
<!-- em Sociologia</em>  promovido pelo corpo discente será realizado nas -->
<!-- dependências do <abbr title="Instituto de Filosofia e Ciências Humanas"> -->
<!-- IFCH</abbr>/<abbr title="Universidade Estadual de Campinas">Unicamp</abbr> nos -->
<!-- dias 26, 27 e 28 de maio de 2015. O Programa e a Comissão Organizadora convidam -->
<!-- todas/os as/os alunas/os vinculadas/os ao curso a enviar seus trabalhos.  </p> -->

<p>
O objetivo do evento, assim como nas edições anteriores, é tecer conexões entre
as pesquisas elaboradas pelas/os alunas/os, com a perspectiva de que as/os
estudantes possam compartilhar o desenvolvimento de seus trabalhos, dialogando
sobre os desafios encontrados e estreitando laços no interior do Programa e com
a comunidade do Instituto como um todo. Além disso, diante de temas e problemas
que estamos enfrentando no Brasil e na Universidade nos últimos meses, temos
como objetivo deste evento refletir sobre a crise social brasileira e sobre a
questão racial em sua interface com as políticas afirmativas.
</p>

<p>
A organização de conferências, mesas redondas e outras eventuais atividades
estará a cargo exclusivo da Comissão Organizadora do evento. Todas as
inscrições deverão ser realizadas através do email
<code><a href="mailto:fppgs@unicamp.br">fppgs@unicamp.br</a></code>.
</p>

<p>
Poderão inscrever-se alunas/os regulares no Programa de Pós-Graduação em
Sociologia do IFCH/Unicamp com uma única proposta de trabalho. Os artigos ou
ensaios deverão ter como autor/a apenas a/ o proponente ou a/o mesma/o em
co-autoria com a/o orientadora/o. Consulte abaixo o cronograma e as regras para
a apresentação de propostas para o evento.  
</p>


<h2>Sobre o Programa de Pós-Graduação em Sociologia</h2>

<p>O Programa de Pós-graduação em Sociologia do 
<abbr title="Instituto de Filosofia e Ciências Humanas">IFCH</abbr>/<abbr
  title="Universidade Estadual de Campinas">Unicamp</abbr> articula-se em dois
  níveis: Mestrado e Doutorado. O curso de Mestrado visa desenvolver e
  aprofundar a competência científica profissional dos graduados, bem como
  propiciar condições acadêmicas para que estes possam contribuir para o
  desenvolvimento da pesquisa e da produção científica na área de Sociologia. O
  curso de Doutorado tem por finalidade proporcionar formação científica e
  cultural mais ampla e aprofundada do que o Mestrado, desenvolvendo a
  capacidade de pesquisa e a criatividade científica.</p>

<p>Para saber mais, consulte a <a class="external" href=
  "//www.ifch.unicamp.br/pos/sociologia/">página do 
  <abbr title="Programa de Pós-Graduação em Sociologia">PPGS</abbr></a>.</p>

</section>

<section id="normas">

<h1>Normas de submissão</h1>

{% include normas.html %}

<!-- </section> -->
<!--  -->
<!-- <section id="atividades"> -->
<!--  -->
<!-- <h1>Atividades</h1> -->
<!--  -->
<!-- <h2 id="abertura">Palestra de Abertura</h2> -->
<!--  -->
<!-- <h3>O que é crítico na teoria crítica? -->
<!--   <br><small> -->
<!--     Prof. Dr. Josué Pereira da Silva (<abbr title="universidade Estadual de Campinas">Unicamp</abbr>) -->
<!--   </small> -->
<!-- </h3> -->
<!--  -->
<!-- <p>Terça&#45;feira, 26 de maio ―  19h <br> -->
<!--   <small> -->
<!--     Auditório I (<abbr title="Instituto de Filosofia e Ciências Humanas">IFCH</abbr>) -->
<!--   </small> -->
<!-- </p> -->
<!--  -->
<!-- <h2 id="minicurso">Minicurso</h2> -->
<!--  -->
<!-- <h3> -->
<!--   Usos do Tempo: uma reflexão sobre técnicas de pesquisa e desenhos de campos -->
<!--   <small><br> -->
<!--     Profa. Dra. Bárbara Geraldo de Castro (<abbr title="Universidade Estadual de Campinas">Unicamp</abbr>) -->
<!--   </small> -->
<!-- </h3> -->
<!--  -->
<!-- <p>Quarta&#45;feira, 27 de maio ―  14h <br> -->
<!--   <small> -->
<!--     Auditório I (<abbr title="Instituto de Filosofia e Ciências Humanas">IFCH</abbr>) -->
<!--   </small> -->
<!-- </p> -->
<!--  -->
<!-- <h2 id="mesa&#45;politica">Mesa Política</h2> -->
<!--  -->
<!-- <h3> -->
<!--   Ensino Superior e Pós&#45;Graduação no Brasil -->
<!--   <small><br> -->
<!--     Profa. Dra. Aparecida Neri  Souza (<abbr title="Universidade Estadual de Campinas">Unicamp</abbr>)<br> -->
<!--     Prof. Dr. Afrânio Mendes Catani (<abbr title="Universidade de São Paulo">USP</abbr>)<br> -->
<!--     Prof. Ms. Jacob Paiva (<abbr title="Universidade Federal do Amazonas">UFAM</abbr>/<abbr title="Sindicato nacional dos Docentes das Instituições de Ensino Superior">ANDES</abbr>)  -->
<!--   </small> -->
<!-- </h3> -->
<!--  -->
<!-- <p>Quarta&#45;feira, 27 de maio ―  19h <br> -->
<!--   <small> -->
<!--     Auditório I (<abbr title="Instituto de Filosofia e Ciências Humanas">IFCH</abbr>) -->
<!--   </small> -->
<!-- </p> -->
<!--  -->
<!-- <h2 id="plenaria">Plenária dos estudantes</h2> -->
<!--  -->
<!-- <p>Quinta&#45;feira, 28 de maio ―  19h <br> -->
<!--   <small> -->
<!--     Auditório I (<abbr title="Instituto de Filosofia e Ciências Humanas">IFCH</abbr>) -->
<!--   </small> -->
<!-- </p> -->
<!--  -->
<!-- </section> -->

<section id="gts">

<h1>Grupos de Trabalho</h1>

{% include gts.html %}

</section>

<!-- <section id="programacao"> -->
<!--  -->
<!-- <h1>Programação</h1> -->
<!--  -->
<!-- <div class="table&#45;responsive"> -->
<!--   <table class="table"> -->
<!--     <thead> -->
<!--       <tr> -->
<!--         <th>Horário</th> -->
<!--         <th>Terça</th> -->
<!--         <th>Quarta</th> -->
<!--         <th>Quinta</th> -->
<!--         <th>Local</th> -->
<!--       </tr> -->
<!--     </thead> -->
<!--     <tbody> -->
<!--       <tr> -->
<!--         <td rowspan="2">9–12h</td> -->
<!--         <td><a href="{{ site.baseurl }}#gt1" title="GT 1: Classe, Gênero e Raça">GT 1</a></td> -->
<!--         <td>―</td> -->
<!--         <td><a href="{{ site.baseurl }}#gt5" title="GT 5: Sociedade e Economia">GT 5</a></td> -->
<!--         <td>Sala de Vídeo</td> -->
<!--       </tr> -->
<!--       <tr> -->
<!--         <td><a href="{{ site.baseurl }}#gt3" title="GT 3: Pensamento Social">GT 3</a></td> -->
<!--         <td><a href="{{ site.baseurl }}#gt6" title="GT 6: Corpo, Subjetividade e Poder">GT 6</a></td> -->
<!--         <td><a href="{{ site.baseurl }}#gt7" title="GT 7: Teoria e Método">GT 7</a> (1ª sessão)</td> -->
<!--         <td>Sala Multiuso</td> -->
<!--       </tr> -->
<!--       <tr> -->
<!--         <td rowspan="2">14–17h</td> -->
<!--         <td><a href="{{ site.baseurl }}#gt4" title="GT 4: Migração e Cidadania">GT 4</a></td> -->
<!--         <td>―</td> -->
<!--         <td><a href="{{ site.baseurl }}#gt8" title="GT 8: Políticas Públicas, Conflitos e Movimentos Sociais">GT 8</a></td> -->
<!--         <td>Sala de Vídeo</td> -->
<!--       </tr> -->
<!--       <tr> -->
<!--         <td><a href="{{ site.baseurl }}#gt2" title="GT 2: Cultura, Arte e Sociedade">GT 2</a></td> -->
<!--         <td><a href="{{ site.baseurl }}#minicurso" title="Minicurso">Minicurso</a></td> -->
<!--         <td><a href="{{ site.baseurl }}#gt7" title="GT 7: Teoria e Método">GT 7</a> (2ª sessão)</td> -->
<!--         <td>Sala Multiuso</td> -->
<!--       </tr> -->
<!--       <tr> -->
<!--         <td>19−22h</td> -->
<!--         <td><a href="{{ site.baseurl }}#abertura" title="Palestra de Abertura">Abertura</a></td> -->
<!--         <td><a href="{{ site.baseurl }}#mesa&#45;politica" title="Mesa Política">Mesa Política</a></td> -->
<!--         <td><a href="{{ site.baseurl }}#plenaria" title="Plenária">Plenária</a></td> -->
<!--         <td>Auditório I</td> -->
<!--       </tr> -->
<!--     </tbody> -->
<!--   </table> -->
<!-- </div> -->
<!--  -->
<!-- </section> -->

{% include contato.html %}
