<div id="gts">

<h2 id="gt1"><abbr title="Grupo de trabalho">GT</abbr> 1 - Marx como mediação
teórica</h2>

<div>
<dl>
  <dt>Data</dt>

  <dd>Terça-feira, 18 de outubro • 8h30−12h</dd>

  <dt>Local</dt>

  <dd>Sala de Vídeo</dd>

  <dt>Debatedores</dt>

  <dd>Prof. Dr. Sávio Cavalcanti (Dep. Sociologia)</dd>

  <!-- <dd>― ( a confirmar)</dd> -->
</dl>

<table>

  <thead>
    <tr class="header">
      <th align="left">Nome</th>

      <th align="left">Título do Trabalho</th>
    </tr>
  </thead>

  <tbody>
    <tr class="odd">
      <td align="left">Hyury Pinheiro</td>

      <td align="left">O método de Marx em quatro atos: investigação
      e exposição do objeto como atuação sobre a realidade</td>
    </tr>

    <tr class="even">
      <td align="left">Leonardo Minelli Silveira</td>

      <td align="left">A Mundialização do capital varejista e a
      reestruturação do trabalho: um estudo a partir do Walmart
      Campinas</td>
    </tr>

    <tr class="odd">
      <td align="left">Luiz Fernando de Souza Santos</td>

      <td align="left">Amazônia e Pensamento Marxista Brasileiro:
      Capital, Trabalho e Globalismo</td>
    </tr>

    <tr class="even">
      <td align="left">Vanessa Batista de Andrade</td>

      <td align="left">Crédito e Neuroeconomia: Estudo crítico das
      estratégias econômicas para aceleração da circulação</td>
    </tr>
  </tbody>
</table>
</div>

<h2 id="gt2"><abbr title="Grupo de trabalho">GT</abbr> 2 - Formas e usos do
espaço</h2>

<div>
<dl>
  <dt>Data</dt>

  <dd>Terça-feira, 18 de outubro • 8h30−12h</dd>

  <dt>Local</dt>

  <dd>Sala Multiuso</dd>

  <dt>Debatedores</dt>

  <dd>Dra. Lidiane Maciel (Pós-doc Sociologia)</dd>

  <dd>Dra. Patrícia Villen (Pós-doc Sociologia)</dd>
</dl>

<table>

  <thead>
    <tr class="header">
      <th align="left">Nome</th>

      <th align="left">Título do Trabalho</th>
    </tr>
  </thead>

  <tbody>
    <tr class="odd">
      <td align="left">Evandro Smarieri Soares</td>

      <td align="left">A perspectiva tecnológica da Permacultura
      sobre a crise socioambiental</td>
    </tr>

    <tr class="even">
      <td align="left">Fabiane Cristina Albuquerque</td>

      <td align="left">Imigração e Insegurança: representações
      aprisionam?</td>
    </tr>

    <tr class="odd">
      <td align="left">Gabriella Almeida Rancan</td>

      <td align="left">Conceito analítico de autonomia relacionado a
      duas comunidades com sobreposição territorial ao Parque
      Estadual da Serra do Mar - Núcleo Picinguaba, Ubatuba, SP</td>
    </tr>

    <tr class="even">
      <td align="left">Jean Fabien</td>

      <td align="left">Conflitos armados e mudança social no
      município de Cité Soleil do Haiti a partir dos anos 1990 até
      hoje</td>
    </tr>

    <tr class="odd">
      <td align="left">KassoumDiémé</td>

      <td align="left">Imigração Haitiana e política de acolhimento
      institucional na cidade de São Paulo 2010-2015</td>
    </tr>

    <tr class="even">
      <td align="left">Lisandra Zago</td>

      <td align="left">Implicações de governança e impacto ambiental
      no período de Mao Zedong (China 1946-1976)</td>
    </tr>
  </tbody>
</table>
</div>

<h2 id="gt3"><abbr title="Grupo de trabalho">GT</abbr> 3 - Produções
culturais pelas margens</h2>

<div>
<dl>
  <dt>Data</dt>

  <dd>Terça-feira, 18 de outubro • 14h − 17h30</dd>

  <dt>Local</dt>

  <dd>Sala de Vídeo</dd>

  <dt>Debatedores</dt>

  <dd>Prof. Dr. Marcelo Ridenti (Dep. Sociologia)</dd>

  <!-- <dd>― (a confirmar)</dd> -->
</dl>

<table>

  <thead>
    <tr class="header">
      <th align="left">Nome</th>

      <th align="left">Título do Trabalho</th>
    </tr>
  </thead>

  <tbody>
    <tr class="odd">
      <td align="left">Bárbara Venturini Abile</td>

      <td align="left">Da grife de luxo ao Fast Fashion: Uma análise
      das estratégias de produção de coleções colaborativas</td>
    </tr>

    <tr class="even">
      <td align="left">Letícia Alves da Cunha</td>

      <td align="left">O popular latino-americano: diálogos entre a
      canção de Milton Nascimento e a América Latina</td>
    </tr>

    <tr class="odd">
      <td align="left">Leticia Christina Pavarina</td>

      <td align="left">As youtubers e a estética negra:
      ressignificação, representatividade e identificação</td>
    </tr>

    <tr class="even">
      <td align="left">Neila Dória de Andrade Silva</td>

      <td align="left">Pés, cadeiras e leituras de mulata - A
      cadência do corpo no Samba e na memória de Mulheres Negras de
      Araraquara/SP</td>
    </tr>

    <tr class="odd">
      <td align="left">Paola Giuliana Borges</td>

      <td align="left">As implicações políticas, culturais e
      econômicas de cantoras de sucesso do Brasil nas figuras de
      Linda Batista, Dalva de Oliveira , Emilinha Borba e
      Marlene</td>
    </tr>

    <tr class="even">
      <td align="left">Silvia Elaine Santos de Castro</td>

      <td align="left">Cinema Negro Contemporâneo: Mídia,
      representação social e a luta antirracista no Brasil</td>
    </tr>
  </tbody>
</table>
</div>

<h2 id="gt4"><abbr title="Grupo de trabalho">GT</abbr> 4 -
Experiência, tecnologia, liberdade e política</h2>

<div>
<dl>
  <dt>Data</dt>

  <dd>Quarta-feira, 19 de outubro • 8h30- 12h</dd>

  <dt>Local</dt>

  <dd>Sala Multiuso</dd>

  <dt>Debatedores</dt>

  <dd>Dr. Caio Vasconcello (Pós-Doc Sociologia)</dd>

  <!-- <dd>― (a confirmar)</dd> -->
</dl>

<table>

  <thead>
    <tr class="header">
      <th align="left">Nome</th>

      <th align="left">Título do Trabalho</th>
    </tr>
  </thead>

  <tbody>
    <tr class="odd">
      <td align="left">Guilherme Flynn Paciornik</td>

      <td align="left">As novas tecnologias de informação e
      comunicação e os movimentos sociais</td>
    </tr>

    <tr class="even">
      <td align="left">Gustavo Bissoto Gumiero</td>

      <td align="left">Máquinas, servidão maquínica, inteligência
      artificial: Capitalismo e as transformações da experiência
      humana</td>
    </tr>

    <tr class="odd">
      <td align="left">Maria Marta Souza dos Santos</td>

      <td align="left">Sites de relacionamentos: motivação e uso de
      mediadores para o estabalecimento de relações afetivas,
      amorosas e conjugais</td>
    </tr>

    <tr class="even">
      <td align="left">Mariana Toledo Borges</td>

      <td align="left">Entre marxismo e psicanálise: A produção da
      identificação pela indústria cultural a partir da imagem</td>
    </tr>

    <tr class="odd">
      <td align="left">Mario Guillermo Massini</td>

      <td align="left">A (de)marcação libertária</td>
    </tr>

    <tr class="even">
      <td align="left">Tiago Galletta</td>

      <td align="left">Atenção-mercadoria e atenção-liberdade na era
      da conexão online "full time"</td>
    </tr>
  </tbody>
</table>
</div>

<h2 id="gt5"><abbr title="Grupo de trabalho">GT</abbr> 5 - Teorias Críticas</h2>

<div>
<dl>
  <dt>Data</dt>

  <dd>Quarta-feira, 19 de outubro • 10h−13h</dd>

  <dt>Local</dt>

  <dd>Sala de Vídeo</dd>

  <dt>Debatedores</dt>

  <dd>Prof. Dr. Josué Pereira da Silva (Dep. Sociologia)</dd>

  <dd>Prof. Dr. Fernando Lourenço (Dep. Sociologia)</dd>
</dl>

<table>

  <thead>
    <tr class="header">
      <th align="left">Nome</th>

      <th align="left">Título do Trabalho</th>
    </tr>
  </thead>

  <tbody>
    <tr class="odd">
      <td align="left">Carolina Aparecia Gonçalves</td>

      <td align="left">A negação do trabalho: sobre estrutura e
      prática na teoria crítica do capitalismo de Postone</td>
    </tr>

    <tr class="even">
      <td align="left">Enrico Paternostro Bueno da Silva</td>

      <td align="left">Justiça Social e Teoria Crítica: Histórias e
      Tendências</td>
    </tr>

    <tr class="odd">
      <td align="left">João Paulo dos Santos Salva</td>

      <td align="left">Experiência e Psicanálise na Teoria Crítica de
      Axel Honneth: da negatividade ao reconhecimento</td>
    </tr>

    <tr class="even">
      <td align="left">Rubia de Araujo Ramos</td>

      <td align="left">Teoria do Reconhecimento e Democracia: um
      debate entre política da diferença e política universal</td>
    </tr>
  </tbody>
</table>
</div>

<h2 id="gt6"><abbr title="Grupo de trabalho">GT</abbr> 6 -
Pensamento Social e Circulação de Ideias</h2>

<div>
<dl>
  <dt>Data</dt>

  <dd>Quarta-feira, 19 de outubro • 14h−17h30</dd>

  <dt>Local</dt>

  <dd>Sala de Vídeo</dd>

  <dt>Debatedores</dt>

  <dd>Prof. Dr. Alfredo Melo (Dep. Teoria Literária)</dd>

  <!-- <dd>― (a confirmar)</dd> -->
</dl>

<table>

  <thead>
    <tr class="header">
      <th align="left">Nome</th>

      <th align="left">Título do Trabalho</th>
    </tr>
  </thead>

  <tbody>
    <tr class="odd">
      <td align="left">Breno Augusto de Oliveira Santos</td>

      <td align="left">E. P. Thompson e a sociologia brasileira: um
      estudo a partir das classes sociais</td>
    </tr>

    <tr class="even">
      <td align="left">Camila Teixeira Lima</td>

      <td align="left">No meio do caminho tinha uma Macabéa</td>
    </tr>

    <tr class="odd">
      <td align="left">Luã Ferreira Leal</td>

      <td align="left">Sobre estantes vazias em corredores
      silenciosos</td>
    </tr>

    <tr class="even">
      <td align="left">Maria Caroline Marmerolli Tresoldi</td>

      <td align="left">Dois críticos na periferia do capitalismo: as
      contribuições de Roberto Schwarz e de Beatriz Sarlo para a
      teoria social</td>
    </tr>

    <tr class="odd">
      <td align="left">Paulo Henrique Rigolin de Moraes</td>

      <td align="left">Modernidade como problema teórico: Max Weber e
      os intérpretes do Brasil</td>
    </tr>
  </tbody>
</table>
</div>

<h2 id="gt7"><abbr title="Grupo de trabalho">GT</abbr> 7 - Teorias
sociais não-hegemônicas</h2>

<div>
<dl>
  <dt>Data</dt>

  <dd>Quinta-feira, 10 de outubro • 14h - 8h30</dd>

  <dt>Local</dt>

  <dd>Sala Multiuso</dd>

  <dt>Debatedores</dt>

  <dd>Profa. Dra. Barbara Geraldo Castro (Dep. Sociologia)</dd>

  <!-- <dd>― (a confirmar)</dd> -->
</dl>

<table>

  <thead>
    <tr class="header">
      <th align="left">Nome</th>

      <th align="left">Título do Trabalho</th>
    </tr>
  </thead>

  <tbody>
    <tr class="odd">
      <td align="left">Dalva Regina Pereira Santos</td>

      <td align="left">Produção Cultural de Periferia e ideia de
      resistência de Antônio Negri</td>
    </tr>

    <tr class="even">
      <td align="left">Flávia Xavier Merlotti Paniz</td>

      <td align="left">"O lugar mais seguro é o front!" Movimento de
      mulheres curdas e sua luta anti-colonial feminista</td>
    </tr>

    <tr class="odd">
      <td align="left">Iasmim de Araujo Vieira</td>

      <td align="left">A Estrada da Sabedoria: A Produção de
      Conhecimento no Interior do Movimento da Mulher Trabalhadora
      Rural do Nordeste (MMTR/NE)</td>
    </tr>

    <tr class="even">
      <td align="left">Julia de Souza Abdalla</td>

      <td align="left">Primeiras aproximações à interseccionalidade
      de gênero e raça</td>
    </tr>
  </tbody>
</table>
</div>

</div>
