<head>
  <link type="text/plain" rel="author" href="{{ site.baseurl }}humans.txt" />
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title != null %}
      {{ page.title }} &middot; {{ site.title }} &mdash; {{ site.tagline }}
    {% else %}
      {{ site.title }} &mdash; {{ site.tagline }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/hyde.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/custom.css">

  <!-- Fonts -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,700italic,300italic,800' rel='stylesheet' type='text/css'>

  <!-- Icons -->
  <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="{{ site.baseurl }}public/favicon.ico">
    <!--[if IE]><link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico"><![endif]-->

    <!-- The below are optional but encouraged -->

    <!-- Touch icon for iOS 2.0+ and Android 2.1+: -->
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}public/apple-touch-icon-144-precomposed.png">

    <!-- The below are optional -->

    <!-- IE 10 Metro tile icon (Metro equivalent of apple-touch-icon): -->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}public/favicon-144.png">
    <!-- IE 11 live tiles: -->
    <meta name="msapplication-square70x70logo" content="{{ site.baseurl}}public/favicon-70.png" />
    <meta name="msapplication-square150x150logo" content="{{ site.baseurl}}public/favicon-150.png" />
    <meta name="msapplication-square310x310logo" content="{{ site.baseurl}}public/favicon-310.png" />
    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl}}public/favicon-152.png">
    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl}}public/favicon-144.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.baseurl}}public/favicon-120.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl}}public/favicon-114.png">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl}}public/favicon-72.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl}}public/favicon-57.png">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
