<p class="lead"> 
O prazo para <em>envio de proposta de trabalho (resumos)</em> é <strong>18 de
  agosto a 8 de setembro</strong>. No final de setembro será disponibilizada
a lista dos trabalhos aprovados em seus respectivos <abbr title="Grupos de
Trabalho">GTs</abbr>, que só serão criados após o envio dos resumos.
O <em>trabalho completo</em> poderá ser enviado até o dia <strong>30 de
setembro</strong> — sendo o envio deste, no entanto, <em>opcional</em>.  Serão
publicados tanto os resumos (no Caderno de Resumos e no site do Fórum), quanto
os trabalhos completos (no site do Fórum).
</p>

<p> Poderão inscrever-se <em>estudantes regulares</em> no Programa de Pós-Graduação
  em Sociologia do <abbr title="Instituto de Filosofia e Ciências
Humanas">IFCH</abbr>/<abbr title="Universidade Estadual de
Campinas">Unicamp</abbr> com <em>uma única proposta de trabalho</em>.
Os artigos ou ensaios deverão ter como autor/a apenas a/o proponente.</p>

<p><strong>Todas as inscrições deverão ser realizadas através do endereço de email
<code><a href="mailto:fppgs@unicamp.br">fppgs@unicamp.br</a></code>.</strong></p>

<!-- <div id="chamada&#45;de&#45;trabalhos"> -->
<!--  -->
<!-- <p>Para as demais normas de submissão, consulte a chamada de trabalhos completa:</p> -->
<!--  -->
<!-- <p><strong><a class="download&#45;button" href="{{ site.baseurl }}public/edital.pdf"> -->
<!--     <i class="fa fa&#45;download"></i> Download da -->
<!-- chamada de trabalhos em formato <abbr title="Portable Document -->
<!-- Format">PDF</abbr></a></strong></p> -->
<!--  -->
<!-- </div> -->

<p>Consulte abaixo o cronograma e as regras para a apresentação de
propostas para o evento.</p>

<h3 id="resumo-cronograma">Cronograma</h3>

  <div class="table-responsive">
    <table class="table table-striped">
      <col width="61%">
      <col width="34%">

      <tbody>
        <tr class="odd">
          <td align="left">Envio de propostas de trabalho
          (resumo)</td>

        <td align="left">18 de agosto a 8 de setembro</td>
        </tr>

        <tr class="even">
          <td align="left">Resultado da seleção de propostas</td>

          <td align="left">final de setembro</td>
        </tr>

        <tr class="odd">
          <td align="left">Data limite para envio de trabalhos
          completos para as propostas aprovadas</td>

          <td align="left">30 de setembro</td>
        </tr>

        <!-- <tr class="odd"> -->
        <!--   <td align="left">Divulgação da Programação dos <abbr title="Grupos de -->
        <!--   Trabalho">GTs</abbr></td> -->
        <!--  -->
        <!--   <td align="left">20 de maio de 2015</td> -->
        <!-- </tr> -->
      </tbody>
    </table>
  </div><!--.table-responsive -->


<h2 id="regras">Regras para envio de propostas de trabalho</h2>


<p>Essa inscrição inicial com o resumo deverá ser feita em formato
<code>.doc</code>, <code>.docx</code>, <code>.odt</code> e
<code>.pdf</code>, seguindo o <a href="#modelo">modelo</a> abaixo,
contendo:</p>

<ul>
  <li>
    <p>Nome completo do proponente e email;</p>
  </li>

  <li>
    <p>Título do trabalho;</p>
  </li>

  <li>
    <p><strong>Resumo</strong> de <strong>10 a 20 linhas</strong>,
    incluindo os espaços (com fonte Times New Roman 12);</p>
  </li>

  <li>
    <p><strong>Palavras-chave</strong>;</p>
  </li>

  <li>
    <p>Nível do curso (Mestrado ou Doutorado);</p>
  </li>

  <li>
    <p>Nome do/a orientador/a;</p>
  </li>

  <li>
    <p>Agência de fomento (se houver).</p>
  </li>
</ul>

<p>As informações sobre o envio de trabalhos completos serão
divulgadas assim que acabarem as inscrições. Qualquer dúvida estamos
à disposição.</p>


<h2 id="modelo">Modelo de proposta de trabalho</h2>

O modelo abaixo também está disponível como arquivo de modelo para LibreOffice e Word.

<p>
<strong><a class="download-button" href="{{ site.baseurl }}public/3fppgs-modelo.ott">
    <i class="fa fa-file-text"></i> Download do modelo para <em>LibreOffice</em> 
</a></strong>

<strong><a class="download-button" href="{{ site.baseurl }}public/3fppgs-modelo.dot">
    <i class="fa fa-file-word-o"></i> Download do modelo para <em>Microsoft Word</em> 
</a></strong>
</p>

<div class="highlight-bg">

<h2 id="título-do-trabalho">Título do trabalho</h2>

<p>Nome completo da/o proponente<a href="#fn1" class="footnoteRef"
id="fnref1" name="fnref1"><sup>1</sup></a></p>

<p>e-mail</p>

<h3 id="resumo">Resumo</h3>

<p>Os resumos para apresentação deverão conter de 10 a 20 linhas. E
devem apresentar entre três e cinco palavras-chave, separadas por
vírgula, em letras minúsculas, com a primeira letra de cada palavra
em maiúscula. O resumo pode apresentar os seguintes elementos: Tema,
Problema de Pesquisa e Hipóteses, Objetivos, Metodologia e Resultados
Parciais ou Finais da Pesquisa. Esses elementos podem servir de
orientação para a elaboração do resumo, mas são, apenas,
recomendações.</p>

<h3 id="palavras-chave">Palavras-chave:</h3>

<p>Fórum, Sociologia, Unicamp.</p>

<div class="footnotes">
  <hr>

  <ol>
    <li id="fn1">
      <p>Titulação (mestrado ou doutorado); orientador (a); agência
      financiadora da pesquisa (se houver).<a href=
      "#fnref1">↩</a></p>
    </li>
  </ol>
</div>
</div>
