<div class="sidebar">
  <!-- <div class="container sidebar&#45;sticky"> -->
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          <abbr title="{{ site.tagline }}">{{ site.title }}</abbr>
          <!-- {{ site.title }} -->
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <p>{{ site.date }}</p>
    </div>

    <nav class="sidebar-nav">
      
        <a class="sidebar-nav-item active" href="{{ site.baseurl }}#sobre"><i class="fa fa-info-circle nav-icon"></i> Sobre </a>
        <a class="sidebar-nav-item" href="{{ site.baseurl }}#normas"><i class="fa fa-pencil-square-o nav-icon"></i> Normas </a>
        <!-- <a class="sidebar&#45;nav&#45;item" href="{{ site.baseurl }}#atividades"><i class="fa fa&#45;microphone nav&#45;icon"></i> Atividades </a> -->
        <a class="sidebar-nav-item" href="{{ site.baseurl }}#gts"><i class="fa fa-group nav-icon"></i> <abbr title="Grupos de Trabalho">GTs</abbr> </a>
        <!-- <a class="sidebar&#45;nav&#45;item" href="{{ site.baseurl }}#programacao"><i class="fa fa&#45;calendar nav&#45;icon"></i> Programação </a> -->
        <a class="sidebar-nav-item" href="{{ site.baseurl }}#contato"><i class="fa fa-envelope nav-icon"></i> Contato </a>
      
<!--
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort:"weight" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}"><i class="fa fa-{{ node.icon }} nav-icon"></i> {{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
-->

    </nav>

    <!-- <p class="small">&#38;copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->
  </div>
</div>
